body {
    background-image: url('https://images.pexels.com/photos/988508/pexels-photo-988508.jpeg?cs=srgb&dl=tilt-lens-photography-of-black-wooden-table-988508.jpg&fm=jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}