.list-group-item p {
    font-size: 16px;
  }


  @media only screen and (max-width: 768px) {
    .gridContainer {
      display: grid !important;
      grid-template-columns: auto !important;
      padding: 10px !important;
    }

  }
