
.member {
    display: inline-block;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: #f9f9f9; 
    border-top: 2px solid transparent;
  }
  
  .member:hover {
      border-top: 2px solid #2196F3;
  }
  
  .member:before, .member:after {
      box-shadow: 0 15px 15px rgba(0,0,0,.5);
  }
  
  .member img {
    width: 150px;
    height: auto;
    border: 5px solid #fff;
    border-radius: 50%;
    margin: 15px auto;
    display: block;
    box-shadow: 0 0 2px rgba(0,0,0, .2);
  }
  
  .member h2 {
    color: #424242;
    text-align: center;
    width: 200px;
    display: block;
    margin: 10px auto;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
  }
  
  .who {
    font-size: 11px;  
    color: #2196F3;
    text-align: center;
    display: block;
    max-width: 100px;
    margin: -2px auto;
    padding: 3px;
    border: 1px solid #fff;
    box-shadow: 0 0 3px rgba(0,0,0,.1);
    font-weight: 300;
  }
  
  .membertext {
    width: 80%;
    text-align: center;
    margin: 12px auto;
    font-size: 12px;
    color: #424242;
  }

  .socicons {
    margin: 20px auto;
    text-align: center;
    font-size: large;
  }
